{
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Database=check1st;Username=cysun;Password=abcd"
  },
  "AI": {
    "ApiKey": "123456",
    "Model": "gpt-3.5-turbo-0125"
  },
  "Serilog": {
    "Using": [
      "Serilog.Sinks.File"
    ],
    "WriteTo": [
      {
        "Name": "File",
        "Args": {
          "path": "D:/Temp/Check1st/logs/log.txt",
          "rollingInterval": "Day",
          "retainedFileCountLimit": null
        }
      }
    ],
    "MinimumLevel": {
      "Default": "Information",
      "Override": {
        "Microsoft": "Warning",
        "System": "Warning"
      }
    },
    "Enrich": [
      "FromLogContext"
    ]
  },
  "AllowedHosts": "*"
}
