<div class="p-5 bg-body-tertiary rounded-3">
    <div>
        <p class="fs-5">
            Check1st uses AI to check your assignment and give you feedback.
        </p>
        @if (User.Identity.IsAuthenticated)
        {
            <a class="btn btn-warning btn-lg" role="button" asp-controller="Account" asp-action="Logout">Logout</a>
        }
        else
        {
            <a class="btn btn-primary btn-lg me-3" role="button" asp-controller="Account" asp-action="Login">Login</a>
        }
    </div>
</div>