@model List<Consultation>
@{
    ViewData["Title"] = "Consultations";
}
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active">@ViewBag.Assignment.Name</li>
    </ol>
</nav>
